body,
html {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #111216;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* bg-black - #111216 */
/* text  **/
